@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'goia_display_regular';
  src: url('../fonts/GoiaDisplay-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'goia_regular';
  src: url('../fonts/Goia-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    @apply text-white bg-near_black;
  }
}

ion-icon {
  color: #e3fbae;
  opacity: 0.8;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

input {
  background: transparent;
  border: none;
  color: white;
}